<h3 class="display-3" ><i class="fa fa-send pr-2"></i>Wikipedia Movies Directory</h3>

<!--<div class="table-responsive-md">-->

<table class="table table-responsive table-hover w-auto">

  <thead class="mdb-color darken-3">
    <tr class="text-white">
       <!--<th>#</th> -->
       <th>Title</th>
       <th>Year</th>
       <th>Director</th>
       <th>Cast</th>
       <th>Genre</th>
       <th>Notes</th>

  </tr>

 </thead>

 <tbody>

  <% Movies.forEach(function(movie) { %>
    <tr>
      <!--<td><%= movie.id %></td> -->
      <td><%= movie.title %></td>
      <td><%= movie.year %></td>
      <td><%= movie.director %></td>
      <td><%= movie.cast %></td>
      <td><%= movie.genre %></td>
      <td><%= movie.notes %></td>

   </tr>
   <% }); %>

 </tbody>

</table>

<!--</div>-->
